body {
    margin: 0;
    background-color: #17d0e7;
    font-family:  'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}

.todo-container {
    width: 350px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

h1,
p {
    margin: 0;
    margin-bottom: 15px;
    color: #14b1c4;
}

.input-form {
    padding: 18px;
    border-radius: 10px;
    background: #17d0e7;
    box-shadow: 35px 35px 70px #14b1c4, -35px -35px 70px #1aefff;
}

.input-form p {
    color: #2e2f30ce;
}

.input-section {
    width: 100%;
    display: grid;
    grid-template-columns: 90% 10%;
}

.input-section input,
button {
    border-radius: 5px;
    background: none;
    outline: none;
    border: 1px solid #14b1c4;
    padding: 10px;
    box-sizing: border-box;
}

.input-section button {
    padding: 0;
}

input::placeholder {
    color: #14b1c4;
}

.todo-items{
    min-height: 450px;
}

ul {
    text-align: left;
    padding: 0;
}

ul li {
    box-sizing: border-box;
    list-style: none;
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
    color: #2e2f30ce;
    border-radius: 10px;
    background: #17d0e7;
    box-shadow: 35px 35px 70px #14b1c4, -35px -35px 70px #1aefff;
    display: grid;
    grid-template-columns: 10% 70% 10% 10%;
}
.completed {
    text-decoration: line-through;
    font-style: italic;
}
@media (max-width: 350px) {
    .todo-container {
        width: 300px;
    }
}
