body {
    margin: 0;
    background-color: #17d0e7;
    font-family: sans-serif;
}

.todo-container {
    width: 350px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

h1 {
    margin: 0;
    margin-bottom: 15px;
    color: #202122;
}

.input-section {
    background-color: #ececec;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #00000066;
}

.input-section input {
    border-radius: 5px;
    border: 1px solid silver;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

input::placeholder {
    color: silver;
}

ul {
    text-align: left;
    padding: 0;
}

ul li {
    list-style: none;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: grey;
    box-shadow: 0 4px 6px #00000066;
    display: flex;
    align-items: center;
}
ul li i {
    text-align: right;
    flex: 1;
    cursor: pointer;
}
