.footer {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}
h3 {
    margin: 0;
    padding: 0;
    color: #0d7985;
    text-align: center;
}
span {
    color: #2d2f30;
}
a {
    text-decoration: none;
    color: #0d7985;
}
a:hover {
    color: #0d4f85;
}